#footer-container {
    background-color: #264653;
    width: 100%;
    z-index: 1000;
    text-align: center;
    position: sticky;
    margin-top: -3em;
    clear: both;
    z-index: 15000;
}
#links-container {
  padding: 1em;
}
#footer-container img {
  width: 2em;
  margin: 0.5em;
}
#footer-container h4 {
    clear: both;
    margin: 0;
    padding-bottom: 1em;
    font-size: 0.7em;
}
a {
  text-decoration: none;
  color: white;
}
@media screen and (min-width: 700px) {
  #footer-container img {
    width: 2em;
    margin: 0.5em;
  }
  #footer-container h4 {
    clear: both;
    margin: 0;
    padding-bottom: 1em;
    font-size: 0.9em;
}
}
