#nav-bar {
  display: flex;
  position:fixed;
  top: 0;
  width: 100%;
  height: 4.5em;
  background-color: #264653;
  box-shadow: 0.4em 0.1em 1em 0.1em rgb(0, 0, 0);
  z-index: 50000;
}
#navbar-hamburgerIcon-divcontainer {
  width: 50%;
  margin: 0.5em;
  padding: 1em;
}
#navbar-hamburgerIcon-divcontainer svg {
  width: 1.5em;
}
#navbar-hamburgerIcon-divcontainer svg rect {
  fill: white;
}
#gameinfologo-divcontainer h1 {
  margin-top: 1.2em;
  font-size: 1.2em;
}
#gameinfologo-divcontainer svg {
  padding: 0.5em;
  width: 4em;
}
#gameinfologo-divcontainer {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}
#main-outer-divcontainer {
  display: flex;
  position: sticky;
  overflow: hidden;
}
#outer-divcontainer {
  z-index: 5;
  box-shadow: -0.2em 0em 0.5em 0em #060a0c;
  width: 100%;
  margin: 0;
  padding: 0;
}
.hide-desktop-view {
  display: none;
}

@media screen and (min-width: 900px) {
  .hide-desktop-view {
    display: inherit;
  }
  .hide-mobiletablet-view {
    display: none;
  }
  #gameinfologo-divcontainer {
    display: none;
  }
  #nav-bar {
    height: 5.5em;
    justify-content: center;
  }
  #nav-bar div h3 {
    font-size: 1.3em;
    padding-left: 1.2em;
    font-weight: 700;
    position: absolute;
    left: 0;
  }
}


