#slidebar-container {
  position:static;
  width: 15em;
}
#btn-container {
  position:fixed;
  width: 15em;
  margin-top:7em;
}
button {
  cursor: pointer;
  text-align: center;
  margin-top: 2em;
  border: 0;
  width: 100%;
  background: none;
  color: white;
  padding-bottom: 0.5em;
  background-color: none;
  font-size: 1.2em;
  border-bottom: 0.2em solid #1c323b;
}

.active {
  color: #2A9E90;
  font-weight: 900;
}

@media screen and (min-width: 900px) {
  #slidebar-container {
    position:absolute;
    text-align: right;
    width: 100% auto;
    right: 0;
  }
  #btn-container {
   display: flex;
    position:inherit;
    margin-top:0;
    padding-right: 0em;
    align-items: flex-end;
  }
  button {
    text-align: center;
    background: none;
    color: white;
    font-weight: 700;
    padding-bottom: 0;
    background-color: none;
    border: 0;
  }
}
