#searchFilter-divcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F4A261;
  padding: 0.5em;
  font-size: 1.5em;
}
#homepage-divcontainer {
  width: 100% auto;
  margin: 0;
  padding: 0;
}
#gameboxes-divcontainer {
  padding-bottom: 4em;
  text-align: center;
  margin: 0 auto;
}
#outer-div-headerContainer {
  padding-top: 5em;
  background: linear-gradient(90deg, #152931 40%, #2A9E90) ;
}
#outer-div-headerContainer h1 {
  width: 100% auto;
  text-align: left;
  padding: 1.5em;
  transform: translateX(-5%);
  margin: 0;
  font-size: 1.3em;
}
