/* You can add global styles to this file, and also import other style files */
body {
  width: 100%;
  padding: 0;
  background-color: #264653;
  margin: 0 auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
}

::-webkit-scrollbar {
  width: 0em;
}

