<div id="gameview-base-divcontainer">
  <div id="gameview-banner-divcontainer">
    <!-- <img [src]="coverUrl" loading="lazy" alt="" srcset=""> -->
  </div>
  <div id="gamesubheader-divcontainer">
    <img src={{checkCoverUrl(coverUrl)}} loading="lazy" alt="" srcset="">
    <div><h1>{{ name }}</h1></div>
  </div>
  <div id="content-container">
    <section id="genre-sectionContainer">
        <h3>Genres:</h3>
        <p>
          <!-- if no data use the default data -->
          <span *ngFor=" let genrename of genreNames">{{genrename.name ? genrename.name+", "  : "Action, Sci-fi, Racing"}}</span>
        </p>
    </section>
    <section id="platform-sectionContainer">
        <h3>Platforms:</h3>
        <p>
            <span *ngFor=" let platformname of platformNames" >{{platformname.name ? platformname.name+", " : "Wii, Windows (PC), Xbox"}}</span>
        </p>
    </section>
    <section id="summary-sectionContainer">
        <h3>Summary: </h3>
        <p>{{ description }}</p>
    </section>
    <section id="websites-sectionContainer">
        <h3>Websites:</h3>
        <p *ngFor=" let website of websites; let i = index">
            <span><a href={{website.url}}>{{website.url}}</a></span>
        </p>
    </section>
  </div>
</div>
