#gamebox-divcontainer {
  width: 40%;
  padding: 0em;
  margin: 1em;
  display: inline-block;
  color: black;
  font-size: 1em;
  box-shadow: 0.1em 0.1em 0.2em 0.1em rgb(126, 126, 126);
}
#gamebox-divcontainer img {
  image-rendering:pixelated;
  image-rendering:crisp-edges;
  object-fit: fill;
  width: 100%;
}
h3 {
  padding: 0.5em;
  background-color: #E76F51;
  color: white;
  margin: 0 auto;
  text-align: center;
  font-size: 0.8em;
}
div:hover {
    cursor: pointer;
}
