#gamebox-divcontainer {
  width: 40%;
  padding: 0em;
  margin: 1em;
  display: inline-block;
  color: black;
  font-size: 1em;
  box-shadow: 0.1em 0.1em 0.2em 0.1em rgb(126, 126, 126);
}
#gamebox-divcontainer img {
  image-rendering:pixelated;
  width: 100%;
}
#gamebox-divcontainer div {
  background-color: #E76F51;
  width: 100%;
}
h3 {
  font-weight: 600;
  color: white;
  margin: 0 auto;
  text-align: center;
  font-size: 0.8em;
  background-position: 2em;
}
div:hover {
    cursor: pointer;
}

@media screen and (min-width: 600px) {
  #gamebox-divcontainer {
    width: 20%;
  }
}

@media screen and (min-width: 900px) {
  #gamebox-divcontainer {
    width: 15%;
    font-size: 1.2em;
  }
}

@media screen and (min-width: 1000px) {
  #gamebox-divcontainer {
    width: 10%;
  }
}


