#gamebox-divcontainer {
  width: 40%;
  padding: 0em;
  margin: 1em;
  display: inline-block;
  font-size: 0.8em;
}
#gamebox-divcontainer img {
  image-rendering:pixelated;
  width: 100%;
}
#game-box-frame img {
  box-shadow: 0.1em 0.1em 0.2em 0.1em rgb(126, 126, 126);
}
#gamebox-divcontainer {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
h3 {
  padding: 0.7em;
  height: 3em;
  background-color: #E76F51;
  font-weight: 700;
  color: white;
  text-align: center;
  font-size: 0.8em;
  background-position: 0em;
}
div:hover {
    cursor: pointer;
}

@media screen and (min-width: 600px) {
  #gamebox-divcontainer {
    width: 20%;
  }
}

@media screen and (min-width: 900px) {
  #gamebox-divcontainer {
    width: 15%;
    font-size: 1.2em;
  }
}

@media screen and (min-width: 1300px) {
  #gamebox-divcontainer {
    width: 10%;
  }
}


